body {
  margin: 40px;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

div {
  padding-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: center;
  padding-bottom: 40px;

}

form {
  cursor: pointer;
  text-align: center;
}

label {
  font-size: 25px;

}

.inputscale {
  padding: center;
}

.inputform {
  font-size: 20px;
  width: 18%;
  padding: 12px 30px;
  margin: 8px 0;
  margin-right: 50px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}

.inputform1 {
  font-size: 20px;
  width: 18%;
  padding: 12px 30px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}
  
/*input[type=date], select {
  font-size: 20px;
  width: 18%;
  padding: 12px 30px;
  margin: 8px 0;
  margin-right: 50px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}*/

button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
button[type=submit]:hover {
  background-color: #45a049;
}

table{
  margin: 40px;
  width: 96%;
  border:1px solid black;
  padding-bottom: 40px;
  list-style-type: none;
  background-color: #f2f2f2;
}

thead th, td{
  border:1px solid black;
  text-align: center;
  font-size: 20px;
}

@media only screen and (max-width: 1700px) {
  div {
    padding-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-bottom: 40px;
  }

  table{
    width: 94%;
  }
}

@media only screen and (max-width: 1410px) {
  form {
    cursor: pointer;
    text-align: justify;
    position: relative;
  }
  label {
    font-size: 20px;
  }
  .inputform {
    font-size: 12px;
    width: 18%;
    padding: 5px 30px;
    margin: 8px 0;
    margin-right: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
  }
  
  .inputform1 {
    font-size: 12px;
    width: 18%;
    padding: 5px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
  }
  button {
    padding: 5px 20px;
  }
  table{
    margin-left: 40px;
    width: 94%;
  }
  thead th, td{
    font-size: 18px;
  }
  #out1{
    width: 10%;
  }
}




@media only screen and (max-width: 1070px) {
  label {
    font-size: 20px;
    padding-left: 20px;
  }
  table{
    width: 92%;
  }
  #DATE {
    width: 35%;
    margin-right: 45px;
    margin-left: 10px;
  }
  #SYS {
    width: 35%;
    margin-right: 45px;
    margin-left: 10px;
  }
  #DIA {
    width: 35%;
    margin-right: 45px;
    margin-left: 10px;
  }
  #PUL {
    width: 35%;
    margin-right: 45px;
    margin-left: 10px;
  }
  #out1{
    width: 20%;
  }
}

@media only screen and (max-width: 925px) {
  label {
    font-size: 20px;
    padding-left: 20px;
  }
  table{
    width: 91%;
  }
  #DATE {
    width: 32%;
    margin-right: 50px;
    margin-left: 10px;
  }
  #SYS {
    width: 32%;
    margin-right: 50px;
    margin-left: 10px;
  }
  #DIA {
    width: 32%;
    margin-right: 50px;
    margin-left: 10px;
  }
  #PUL {
    width: 32%;
    margin-right: 50px;
    margin-left: 10px;
  }
  #out1{
    width: 20%;
  }
}

@media only screen and (max-width: 820px) {
  label {
    font-size: 20px;
    padding-left: 20px;
  }
  table{
    width: 89%;
  }
  #DATE {
    width: 30%;
    margin-right: 50px;
    margin-left: 10px;
  }
  #SYS {
    width: 30%;
    margin-right: 50px;
    margin-left: 10px;
  }
  #DIA {
    width: 30%;
    margin-right: 50px;
    margin-left: 10px;
  }
  #PUL {
    width: 30%;
    margin-right: 50px;
    margin-left: 10px;
  }
  #out1{
    width: 20%;
  }
}

@media only screen and (max-width: 750px) {
  label {
    font-size: 20px;
    padding-left: 20px;
    
  }
  #DATE {
    width: 28%;
    margin-right: 50px;
    margin-left: 10px;
  }
  #SYS {
    width: 28%;
    margin-right: 50px;
    margin-left: 10px;
  }
  #DIA {
    width: 28%;
    margin-right: 50px;
    margin-left: 10px;
  }
  #PUL {
    width: 28%;
    margin-right: 50px;
    margin-left: 10px;
  }
  #out1{
    width: 20%;
  }
}



@media only screen and (max-width: 690px) {
  label {
    font-size: 12px;
    margin-left: 0px;
  }
  .inputform {
    font-size: 12px;
    width: 15%;
    padding: 5px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
  }
  .inputform1 {
    font-size: 12px;
    width: 15%;
    padding: 5px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
  }
  #DATE {
    width: 75%;
  }
  #SYS {
    width: 75%;
  }
  #DIA {
    width: 75%;
  }
  #PUL {
    width: 75%;
  }
  table{
    width: 88%;
  }
  thead th, td{
    border:1px solid black;
    text-align: center;
    font-size: 10px;
  }

  #out1{
    width: 20%;
  }
}

@media only screen and (max-width: 610px) {
  #DATE {
    width: 70%;
  }
  #SYS {
    width: 70%;
  }
  #DIA {
    width: 70%;

  }
  #PUL {
    width: 70%;
  }
  table{
    width: 86%;
  }
  #out1{
    width: 20%;
  }
}

@media only screen and (max-width: 525px) {
  .inputform {
    padding: 5px 10px;
  }
  .inputform1 {
    padding: 5px 10px;
    width: 15%;
  }
  #DATE, #SYS, #DIA, #PUL {
    width: 65%;
    padding-right: 50px;
  }
  table{
    width: 84%;
  }
}

@media only screen and (max-width: 440px) {
  #DATE, #SYS, #DIA, #PUL {
    width: 60%;
    padding-right: 50px;
  }
  table{
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  #DATE, #SYS, #DIA, #PUL{
    width: 55%;
    padding-right: 10px;
  }
  table{
    width: 79%;
  }
}

@media only screen and (max-width: 369px) {
  #DATE, #SYS, #DIA, #PUL{
    width: 52%;
    margin-right: 30px;
  }
  table{
    width: 75%;
  }
  #out1{
    width: 26%;
  }
}

@media only screen and (max-width: 315px) {
  label {
    padding-left: 0px;
  }
  #DATE, #SYS, #DIA, #PUL{
    width: 70%;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 295px) {
  #DATE, #SYS, #DIA, #PUL{
    width: 65%;
    margin-right: 10px;
  }
  #out1{
    width: 30%;
  }
}